.LatestArticles_container {
    background-color:#F2E8E4 ;
    padding-top: 20px;
}

.latest_article_heading{
    color: #DB022E;
}


.LatestArticles_sub_container {
    background-color: #F2E8E4;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}



.left_image_div {
    background-image: url("./images/image.png");
    background-color: #cccccc;
    height: 620px;
    background-position: center;
    background-size: cover;

    width: 750px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin-left: 85px;
}

.pargraph_category {
    margin-left: 120px;
    padding-left: 10px;
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    font-style: normal;
    color: #2A2A2A;
    background-color: aliceblue;
    height: 230px;
    width: 500px;
    align-items: center;
    border-radius:  8px;
}

.pargraph_category_heading{
    font-size: 25px;
}
.category_button_div{
    padding-top: 370px;
}

.category_button_ {
    color: #FFFFFF;
    background: #DB022E;
    margin-left: 150px;
    width: 125px;
    height: 35px;
    
}

.icon_div {
 margin-left: 30px;
}
.effiko_name {
    color: #DB022E;
    margin-left: 10px;
}

.share_name{
    color: #DB022E;
    margin-left: 10px;
}
.lastline_category_date {
    margin-left: 40px;
}
.category_share_icon {
    width: 18px;
    height: 18px;
}



.lastline_category {
    display: flex;
    flex-direction: row;
}

.icon_div {
    display: flex;
    flex-direction: row;
}